body{
background-image:url("/home/6CSE1/Pictures/index3.jpeg");
background-repeat:repeat;
background-attachment:fixed;
background-attachment:scroll;
font-style:italic;
}
h1{color:maroon;
margin-left:40px;
}
p{color:blue;
background-color:powderblue;
font-family:courier,garamond,serif;
font-style:italic;
font-size:large;
font-weight:bold;
font-stretch:ultra-expanded;
letter-spacing:5px;
text-indent:1cm;
word-spacing:5px;
text-align:center;
}
p.normal{color:red;
background-color:pink;
text-align:left}
p.warning{color:green;text-align:right}
